main {
    background-color: var(--white-color);
    box-shadow: 3px 3px 15px 0 rgba(50, 50, 50, 0.05);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 95%;
    margin: 4rem auto;
    padding: 2rem 3rem 0 3rem;
    overflow-x: auto;
    
    h2, h3 {
        color: var(--primary-color);
        margin-bottom: 1.5rem;

        strong {
            color: var(--secondary-color);
        }
    }

    table {
        margin: 2rem 0;
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-size: 0.8rem;
        letter-spacing: 0.025rem;

        thead {
            background-color: rgb(221 221 221);

            th {
                border: 1px solid rgb(160 160 160);
                padding: 8px 10px;
            }
        }

        tbody tr td {
            padding: 8px 10px;
            border: 1px solid rgb(160 160 160);
            text-align: center;
        }

        tbody > tr:nth-of-type(even) {
            background-color: rgb(237 238 242);
        }
    }
}