/* Définitions de couleurs pour l'interface */
:root {
    --primary-color: #124483;
    --white-color: #f0f8ff;
    --secondary-color: #da1f26;
    --background-grey: #F1F1F4;
    --btn-primaire-hover: #1966c7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: var(--background-grey);                 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    min-height: 100vh; 
    margin: 0;
    width: 100%; 
}

header, footer {
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);

    .hdp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        margin-bottom: 10px;

        .hdp-infos {
            display: flex;
            align-items: center;

            img {
                margin-right: 30px;
                max-width: 135px;
            }
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 5rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        padding: 1rem;
        padding-left: 3rem;

        .navbar {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 3rem;

            a {
                color: inherit;
                text-decoration: none;
            }

            a.nav-link.active {
                border-bottom: 2px solid var(--secondary-color);
                opacity: 1;
            }

            a.nav-link {
                opacity: 0.65;

                &:hover {
                    opacity: 1;
                }
            }
        }

        img {
            width: auto;
            max-height: 45px;
        }
    }
}

footer {    
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 2em;  
    text-align: center;      
    font-size: 1rem;

    h4 {
        margin-bottom: 1rem;
    }

    #inspiration {
        margin-bottom: 1rem;
        a {
            color: inherit;
        }
    }
}

.btn-primaire {
    background-color: var(--primary-color);
    padding: 12px 20px;
    color: var(--white-color);
    letter-spacing: 0.5px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: var(--btn-primaire-hover);
    }
}

/* Style du formulaire avec adaptation pour mobile */
form {
    color: var(--white-color);
    display: block;           
    margin: 7vh auto;
    width: 45vw;
    min-width: 300px;   
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 15px;            
}

fieldset {
    padding: 1em;
    border: 1.5px dotted var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input, select {
    background-color: var(--white-color);
    width: 100%;
    border-radius: 5px;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

input:valid, select:valid{
    border:solid 3px green;
}

input:invalid, select:invalid {
    border: 2px solid var(--secondary-color);
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: var(--white-color);
}

select[multiple]{
    min-height:110px;
}

#submitForm {
    background-color: var(--background-grey);
    color: var(--primary-color);
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin-top: 1em;            
    padding: 0.5em;   
    height: 2.5em;     
    cursor: pointer;  
}

#resetForm {
    background-color: #97a9bf;
    color: var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0.5em;   
    height: 2.5em;     
    cursor: pointer; 
}


/* Style pour le conteneur de réinitialisation */
#reset-container {
    position: fixed;
    bottom: 15em;
    right: 1em;
    background-color: var(--primary-color);
    padding: 0.5em;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#resetCode, #resetButton {
    margin-top: 0.5em;
    display: block;
    width: 100%;
    padding: 0.3em;
    border: none;
    border-radius: 5px;
}

#resetCode {
    background-color: var(--white-color);
}

#resetButton {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bold;
}

/* Style pour la page de bilan */
#bilanPage {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1em;
    border-radius: 10px;
    max-width: 1200px;
    margin: 2em auto;
    text-align: center;
}

.footer-buttons {
    margin-top: 1em;
    display: flex;
    gap: 1em;
    justify-content: center;
}

.footer-buttons button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


/* Media queries pour l'adaptation mobile */
@media screen and (max-width: 767px) {
    form {   
        margin: 2em auto;
        width: 90%;
    }
    .gauche, .droite {
        grid-column: 1 / 6;
    }
    #reset-container{
        position: relative;
        max-width: 70%;
        margin:auto;
        bottom:0;
        margin-bottom: 30px;
    }
    footer {
        position: relative;
    }

    .footer-buttons {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .footer-buttons buttons{
        grid-column: 1;
    }
    .hidden{
        display:none;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    form {   
        margin: 2em auto; 
        width: 80%;                              
    }
    footer {
        position: relative;
        bottom: 0;
    }

    #reset-container{
        position: relative;
        max-width: 50%;
        margin:auto;
        bottom:0;
        margin-bottom: 30px;
    }
}



#titre-manoeuvre {
    margin-bottom: 10px;
}


/* Formulaire */
.form-manoeuvres {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;

    .form-manoeuvre {
        display: flex;
        align-items: center;
        width: max-content;
        gap: 10px;
    
        label {
            margin: 0;
        }
    
        input {
            width: auto;
            margin-bottom: 0;
        }
    }
}

/* Accueil */
.main-content-accueil {
    background-color: var(--white-color);
    box-shadow: 3px 3px 15px 0 rgba(50, 50, 50, 0.05);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 75%;
    margin: 4rem auto;
    padding: 2rem 3rem 0 3rem;

    .intro {
        display: flex;
        gap: 3rem;
        justify-content: space-between;
        margin-bottom: 2rem;

        img {
            max-width: 330px;
        }

        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1rem;

            h2 {
                color: var(--primary-color);
            }
        }
    }

    h3 {
        color: var(--secondary-color);
        margin-bottom: 0.5rem;
    }

    ul, p {
        margin-bottom: 2rem;
    }

    ul {
        margin-left: 1.5rem;
    }
}
